.CardComp {
  width: 240px;
  min-height: 260px;
  padding: 16px 10px;
  margin: 20px 10px;
  background-color: #fff;
  border-radius: 4px;
  // box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
  border: 1px solid #1da0f2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  transition: all ease-in-out 0.3s;
  &:hover {
    // box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
  }

  .card-icon {
    width: auto;
    max-width: 70px;
    height: 70px;
  }
  .title-CardComp {
    color: #1a1a1a;
    font-size: 16px;
    letter-spacing: 0.03em;
    font-weight: 900;
    line-height: 1.3;
    margin-bottom: 12px;
    margin-top: 12px;
    text-rendering: optimizelegibility;
    text-align: center;
    word-wrap: break-word;
  }
  .point-sec {
    color: #808080;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 400;
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      li::marker {
        content: \2022;
        color: var(--secondary-color);
        font-size: large;
      }
    }
  }
  .smallbutton {
    width: 100px;
    height: 30px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    transition: all ease 0.3s;
    &:hover {
      color: var(--secondary-color);
      border: 1px solid var(--secondary-color);
      background-color: #ffffff;
    }
  }

  /* The Modal (background) */
  .modal {
    z-index: 500;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    @media (max-width: 800px) {
      padding-top: 70px;
    }
  }

  /* Modal Content */
  .modal-content {
    border-radius: 8px;
    z-index: 500;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    // border: 1px solid #888;
    max-width: 720px;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  /* The Close Button */
  .close {
    color: white;
    cursor: pointer;
    font-size: 2rem;
    line-height: normal;
    transition: all ease-in-out 0.2s;
  }

  .close:hover,
  .close:focus {
    color: var(--ternary-color);
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    padding: 16px;
    background-color: var(--secondary-color);
    color: white;
    // border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin: 0;
      line-height: normal;
    }
  }

  .modal-body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // height: 80vh;
    overflow: auto;
    img {
      width: 300px;
      padding: 0.5rem;
    }

    ul {
      // margin: 0;
      // padding: 0;
      li::marker {
        content: \2022;
        color: var(--secondary-color);
        font-size: 14px;
      }
    }
    @media (max-width: 800px) {
      flex-direction: column;
      img {
        display: none;
        // max-width: 250px;
        // width: auto;
        // max-height: 200px;
      }
    }
  }

  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
}
