.CustomerCardComp {
  width: 240px;
  min-height: 260px;
  padding: 16px 10px;
  margin: 20px 10px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(154, 154, 154, 0.27) 0px 2px 10px 2px;
  // border: 1px solid var(--secondary-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  transition: all ease-in-out 0.3s;

  .about {
    color: #505050;
    text-align: center;
    padding: 10px;
  }
  .customer-sec {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    img {
      width: 60px;
      border-radius: 50%;
      padding: 0 10px;
    }
    .company-name {
      font-size: 14px;
      font-weight: 600;
      color: #1c1c1c;
    }
    // .right-sec {
    // .name {
    //   font-size: 18px;
    //   font-weight: 500;
    // }
    // .company-name {
    //   font-size: 14px;
    //   font-weight: 600;
    //   color: #1c1c1c;
    // }
    // }
  }
}
