.Footer {
  background-image: url("../images/footer-bg.png");
  min-height: 50vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #302e4e;
}
