.Footer {
  background-image: url("../images/footer-bg.png");
  min-height: 50vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  // background-color: #302e4e;
  background-color: #e5e4e2;

  display: flex;
  align-items: center;
  justify-content: center;
  .text-above {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    padding: 2rem 0;
    padding-bottom: 3rem;
    .company-sec {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .company-name {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        span {
          font-size: 20px;
          font-weight: 400;
          color: var(--primary-color);
          letter-spacing: 1px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 0.5rem;
        }
      }
      .company-about {
        padding-top: 1rem;
        color: #1c1c1c;
        max-width: 240px;
        text-align: center;
      }
      .follow-us-sec {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        span {
          color: #1c1c1c;
        }
        .icons {
          width: 230px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          .icon {
            font-size: 1.4rem;
            margin: 0.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.4rem;
            background-color: #fff;
            border-radius: 50%;
            cursor: pointer;
          }
          .fb {
            color: #4267b1;
            transition: all ease-in-out 0.3s;
            &:hover {
              background-color: #4267b1;
              color: #fff;
            }
          }
          .tw {
            color: #1da0f2;
            transition: all ease-in-out 0.3s;
            &:hover {
              background-color: #1da0f2;
              color: #fff;
            }
          }
          .li {
            color: #0177b5;
            transition: all ease-in-out 0.3s;
            &:hover {
              background-color: #0177b5;
              color: #fff;
            }
          }
          .wa {
            color: #25d366;
            transition: all ease-in-out 0.3s;
            &:hover {
              background-color: #25d366;
              color: #fff;
            }
          }
          .ig {
            color: #db549b;
            transition: all ease-in-out 0.3s;
            &:hover {
              background-color: #db549b;
              color: #fff;
            }
          }
        }
      }
    }
    .useful-links-sec {
      padding: 1.5rem;
      color: #1c1c1c;

      span {
        font-weight: 500;
        font-size: 24px;
      }
      .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        a {
          &:hover {
            color: #1da0f2;
          }
        }
      }
    }
    .contact-use-sec {
      padding: 1.5rem;
      color: #1c1c1c;

      span {
        font-weight: 500;
        font-size: 24px;
      }
      .contact-sec {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        .contact-point {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.5rem 0;
          div {
            padding-left: 0.5rem;
            max-width: 230px;
          }
        }
      }
    }
    // @media (max-width: 750px) {
    //   flex-direction: column;
    //   align-items: center;
    //   justify-content: center;
    // }
  }
}
