.GetInTouch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 4rem 0;
  .title {
    color: var(--secondary-color);
    font-size: 36px;
    // margin-bottom: 5px;
    font-weight: 700;
    text-align: center;
    @media (max-width: 480px) {
      font-size: 24px;
    }
  }

  .about {
    color: #696969;
    text-align: center;
    width: 90%;
    max-width: 510px;
    margin-top: 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    margin: 2rem 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 2px rgba(0, 0, 0, 0.04);
    // border: 1px solid #1da0f2;
    border-radius: 8px;
    .top-sec {
      display: flex;
      align-items: center;
      justify-content: center;
      .left-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 240px;
        input {
          margin: 1rem;
          width: 300px;
          height: 80px;
        }
      }
      .right-sec {
        textarea {
          margin: 1rem;
          min-height: 200px;
          width: 300px;
        }
      }
    }
    .button-sec {
      margin: 1rem 0;
      button {
        width: 160px;
        height: 50px;
        background-color: var(--primary-color);
        border: none;
        border-radius: 8px;
        color: white;
        cursor: pointer;
        font-weight: 500;
        transition: all ease 0.3s;
        &:hover {
          background-color: var(--primary-color-dark);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1),
            0 15px 12px rgba(0, 0, 0, 0.02);
        }
      }
    }
    @media (max-width: 720px) {
      .top-sec {
        flex-direction: column;
      }
    }
    @media (max-width: 400px) {
      box-shadow: none;
      .top-sec {
        .left-sec {
          input {
            width: 260px;
          }
        }
        .right-sec {
          textarea {
            min-width: 260px;
          }
        }
      }
    }
  }
}
