.HomeBg {
  background-image: url("../images/1.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #302e4e;
  filter: contrast(1.2);
  // filter: brightness(0.8);
  .text-above {
    height: 100vh;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #0b5892aa;

    @media (max-width: 480px) {
      padding-left: 1rem;
    }

    .title {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 5px;
      color: #ffffff;
      word-wrap: break-word;
      @media (max-width: 480px) {
        font-size: 24px;
      }
    }
    .sub-title {
      font-size: 22px;
      font-weight: 400;
      color: #ffffff;
      word-wrap: break-word;
      margin-bottom: 15px;
      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
    .sub-sub-title {
      font-size: 20px;
      font-weight: 300;
      color: #ffffff;
      word-wrap: break-word;
      margin: 15px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
    .button {
      width: 160px;
      height: 50px;
      background-color: var(--primary-color);
      border: none;
      border-radius: 8px;
      color: white;
      cursor: pointer;
      font-weight: 500;
      transition: all ease 0.3s;
      &:hover {
        background-color: var(--primary-color-dark);
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1),
          0 15px 12px rgba(0, 0, 0, 0.02);
      }
    }
  }
}
