:root {
  --primary-color: #409b2d;
  --primary-color-dark: #2d6e20;
  --secondary-color: #0a6db7;
  --ternary-color: #302e4e;
}
.App {
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  line-height: 1.5;
  word-wrap: break-word;
}
*:focus {
  outline: none;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
